* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  background-color: rgb(236, 236, 236);
}

#myVideo {
  width: 100%;
  position: fixed;
  object-fit: cover;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 150vh;
  animation: parallax linear both;
  animation-timeline: scroll();
  animation-duration: 1;
}

@keyframes parallax {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-200px);
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  width: 90%;
  margin: 2em auto;
  overflow-y: hidden;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 10px 0px black;
  position: relative;
}

header img {
  height: auto;
  width: 30%;
  margin-top: 1em;
  position: relative;
}

header h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: clamp(2em, 5vw, 10em);
  color: white;
  font-family: "science gothic", Courier, monospace;
  height: 100%;
  width: 8em;
  box-shadow: inset 0px 0px 10px 0px red;
  text-shadow: 0px 0px 3px black;
  background: linear-gradient(90deg, crimson, red 50%, crimson 70%);
  position: relative;
}

header h1::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  height: 100%;
  width: 100%;
  background-color: red;
  border: 1px solid red;
  box-shadow: 0px 0px 30px 5px red;
  z-index: -1;
}

.social-link {
  display: flex;
  flex-direction: column;
  width: clamp(7em, 10vw, 20em);
  position: absolute;
  left: 1%;
}

.social-link img {
  transition: all 0.8s ease;
}

.social-link img:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0px red;
}

.github-link,
.linkedin-link {
  border-radius: 10px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2em;
  margin: 0px auto;
  padding: 1em 1em;
  margin-bottom: 50px;
  width: 90%;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px black;
  background-color: rgba(0, 0, 0, 0.2);
}

.assign-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: clamp(250px, min(480px, 40vw), 100%);
  height: clamp(80px, min(320px, 30vw), 800px);
  /* border: 1px solid black; */
  box-shadow: 0px 0px 5px 0px black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s ease;
}

.card-wrapper {
  display: flex;
  align-items: center;
  gap: clamp(2em, 1vw, 5em);
  animation: panRight 1s ease;
  animation-timeline: view();
}

.card-wrapper1 {
  animation: panRight 3s ease;
}

@keyframes panRight {
  0% {
    transform: translateX(-100%);
  }

  30% {
    transform: translateX(0%);
  }
}

.card-image {
  height: 75%;
  transition: all 0.5s ease;
}

.card-image>img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
}

.card-btn {
  width: clamp(100px, min(480px, 40vw), 1000px);
  height: 15.5%;
  border-radius: 0px 0px 5px 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: black;
  background-color: white;
  transition: all 0.5s ease;
  transform: scale(1);
}

.card-btn>a {
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 5px 5px;
  font-family: "science gothic", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  text-align: center;
  color: black;
  background: linear-gradient(90deg, purple, crimson, purple);
  position: relative;
  transition: all 0.5s ease;
  color: white;
}

.card-btn>a:hover {
  font-size: 1.5em;
}

.card-btn>a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 5px 5px;
  background-color: crimson;
  z-index: -1;
  box-shadow: 0px 0px 40px 0px rgb(255, 0, 119);
  transition: all 0.5s ease;
}

.card-btn>a:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 5px 5px;
  background-color: crimson;
  z-index: -1;
  box-shadow: 0px 0px 20px 4px rgb(255, 0, 140);
  transition: all 0.5s ease;
}

.assign-reveal-card {
  height: 15em;
  z-index: -1;
}

.assign-reveal-card h2 {
  font-family: "science gothic", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 0.5em;
  text-shadow: 0px 0px 10px black;
  color: white;
  transform: translate(-150px, 100px);
  transition: all 1s ease;
}

.assign-reveal-card p {
  font-family: "black ops", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.5em;
  text-shadow: 0px 0px 10px black;
  color: white;
  background: linear-gradient(90deg, blue, cyan);
  transform: translate(-200px, 100px);
  transition: all 0.5s ease;
}

.assign-card:hover+.assign-reveal-card h2 {
  transform: translate(0px, -20px);
  font-size: 4em;
}

.assign-card:hover {
  transform: scale(1.02);
}

.assign-card:hover+.assign-reveal-card p {
  transform: translate(0px, -20px);
  font-size: 2.5em;
}

@media (max-wdith: 768px) {

  .assign-card {
    width: clamp(250px, min(480px, 40vw), 100%);
    height: clamp(0px, min(0px, 0vw), 0px);

    .card-wrapper {
      display: flex;
      align-items: center;
      gap: 1em;
      margin-bottom: 1em;
    }

    .assign-reveal-card {
      height: 0em;
      z-index: -1;
    }

    .assign-reveal-card h2 {
      font-size: 10px;
    }

    .assign-reveal-card p {
      font-size: 10px;
    }

    .assign-card:hover+.assign-reveal-card h2 {
      transform: translate(0px, 0px);

      font-size: 4vw;
    }

    .assign-card:hover {
      transform: scale(1.02);
    }

    .assign-card:hover+.assign-reveal-card p {
      transform: translate(0px, 0px);

      font-size: 2.5vw;
    }

    .assign-card:hover+.assign-reveal-card {
      height: 10em;
      z-index: -1;
    }

    .assign-card:hover+.assign-reveal-card h2 {
      transform: translate(0px, 20px);
      font-size: 2em;
    }

    .assign-card:hover {
      transform: scale(1.02);
    }

    .assign-card:hover+.assign-reveal-card p {
      transform: translate(0px, 20px);
      font-size: 1.2em;
    }
  }
}


@media (max-width: 425px) {

  .assign-card {
    width: 100%;
    height: 57vw;
  }

  /* .assign-card {
    width: 100%;
    height: 242px;
  } */

  .card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
  }

  .card-btn {
    width: 100%;
    height: 10.5vw;
  }

  .assign-reveal-card {
    height: 0em;
    z-index: -1;
    transition: all 1s ease;
  }

  .assign-reveal-card h2 {
    font-size: 10px;
    transform: translateY(-220px)
  }

  .assign-reveal-card p {
    font-size: 10px;
    transform: translateY(-220px);
  }

  .assign-card:hover+.assign-reveal-card {
    height: 10em;
    z-index: -1;
  }

  .assign-card:hover+.assign-reveal-card h2 {
    transform: translateY(0px);
    font-size: 2em;
  }

  .assign-card:hover {
    transform: scale(1.02);
  }

  .assign-card:hover+.assign-reveal-card p {
    transform: translateY(0px);
    font-size: 1.2em;
  }

}

@media (max-width: 375px) {
  .assign-card {
    width: 100%;
    height: 56vw;
  }

  .card-btn {
    width: 100%;
    height: 38px;
  }
}

@media (max-width: 320px) {
  .assign-card {
    width: 100%;
    height: 55vw;

  }

  .card-btn {
    width: 100%;
    height: 33px;
  }
}

/* Add flowing effect for the top Heading dot */

/* Add Parallax Effect on scroll smooth */

/* create an animation where the card will be closed, on hover it will be opened including the heading and explanation of the
        assignment to the right, smoothly and visually appealing, add typewrite effect either. */

/* don't forget to add glowing social icons */