* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  list-style-type: none;
}

html,
body {
  width: 100%;
  background-image: url('../Assets/Images/thunderstorm-illustration-digital-art-style.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --primary-bg-color: #313647;
  --primary-btn-color: linear-gradient(90deg, #ff3f7f, #8c00ff);
  --accent-color: #ffc400;
  --crimson-color: #ff3f7f;
  --yellow-color: #ffc400;
  --purple-color: #8c00ff;
  --dark-purple-color: #450693;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  backdrop-filter: blur(20px);
  width: 90%;
  margin: 2em auto;
  overflow-y: hidden;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .2);
  box-shadow: 0px 0px 10px 0px black;
}

header img{
    object-fit: contain;
    height: auto;
    width: 30%;
    margin-top: 1em;
}

header h1{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 5em;
  color: white;
  font-family: 'science gothic', Courier, monospace;
  height: 100%;
  box-shadow: inset 0px 0px 10px 0px red;
  text-shadow: 0px 0px 3px black;
  background: linear-gradient(90deg, crimson, red 50%, crimson 70%);
  position: relative;
}

header h1::after{
  position: absolute;
  top: 0px;
  left: 0px;
  content: '';
  height: 100%;
  width: 100%;
  background-color: red;
  border: 1px solid red;
  box-shadow: 0px 0px 30px 5px red;
  z-index: -1;
}

main{
  width: 100vw;
  height: 100dvh;
}

.container{
  margin: 0px auto;
  width: 90%;
  border: 1px solid black;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px black;
}

.section-1{
  width: 95%;
  border: 1px solid black;
  margin: 8% auto;
}

.assign-wrapper{
  border: 1px solid black;
}

.assign-card{
  flex: 0 0 20em;
  height: 400px;
  margin-bottom: 4em;
}


