*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
}

a{
    text-decoration: none;
    color: white;
    height: 50px;
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
    border-radius: 5px;
    background-color: gray;
}