* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  background-color: gray;
}

.container {
  width: 100%;
  height: 100dvh;
  padding: 1%;
  background-image: url("../Assets/Images/landscape-background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 5px;
  background: linear-gradient(90deg, purple, crimson, purple);
  margin: 0px auto;
  position: relative;
  z-index: 10;
}

.nav-mobile {
  display: none;
}

nav::after {
  content: "";
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px 0px crimson;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.logo {
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  transition: all 1s ease;
}

.logo:hover {
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.logo>img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

nav img {
  width: 100%;
  height: 100%;
}

.links {
  width: 100%;
}

.links ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
}

.links li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 40px;
}

.link img,
.links a {
  height: 100%;
}

.menu {
  display: none;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 4%;
}

.menu img {
  height: 100%;
}

.cards-parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: calc(100% - 6vw);
  flex-wrap: wrap;
}

.card1,
.card2,
.card3 {
  margin-top: 4em;
  width: 360px;
  height: 504px;
  background-color: rgba(255, 0, 132, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  background-color: rgba(11, 255, 255, 0.5);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.card1 img, .card2 img, .card3 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.img1, .img2, .img3 {
  width: 100%;
  height: 203px;
}

.card-content h1 {
  font-size: 1.6em;
  margin-bottom: 1vw;
}

.card-content p {
  overflow: hidden;
}

@media (min-width: 1024px) and (max-width: 1024px) {
    .container{
    height: auto;
  }
}

@media (max-width: 768px) {
  .container{
    height: auto;
  }
}

@media (max-width: 425px) {

  .container{
    padding-bottom: 3vw;
  }

  nav .menu {
    display: block;
    width: 50px;
    height: 40px;
  }

  nav .logo {
    width: 50%;
  }

  nav .links {
    display: none;
  }

  .card1,
  .card2,
  .card3 {
    margin-top: 4em;
    width: 300px;
    height: 500px;
  }

  .card-content {
    font-size: medium;
  }

  .card-content h1 {
  font-size: 1.6em;
  margin-bottom: 10vw;
}

}