* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: gray;
}

.container {
  width: 100%;
  height: 100%;
  background-image: url("../Assets/Images/landscape-background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vw;
  width: 100vw;
  padding: 5px;
  background-color: rgba(0, 149, 255, 0.308);
}

.logo {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid black;
}

.logo:hover {
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

nav img {
  width: 100%;
  height: 100%;
}

.links {
  width: 100%;
}

.links ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
}

.links li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 3.472vw;
}

.link img,
.links a {
  height: 100%;
}

.menu {
  display: none;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 4%;
}

.menu img {
  height: 100%;
}

.cards-parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: calc(100% - 6vw);
  flex-wrap: wrap;
}

.card1,
.card2,
.card3 {
  /* width: 25vw; */
  width: 360px;
  /* height: 35vw; */
  height: 504px;
  background-color: rgba(255, 0, 132, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.card-content {
  padding: 1.7vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  background-color: rgba(11, 255, 255, 0.5);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.card1 img {
  height: 100%;
  width: 100%;
}

.img1 {
  width: 266.672px;
  height: 203px;
}

.card2 img {
  height: 100%;
  width: 100%;
}

.img2 {
  width: 266.672px;
  height: 203px;
}

.card3 img {
  height: 100%;
  width: 100%;
}

.img3 {
  width: 266.672px;
  height: 203px;
}

.card-content h1 {
  font-size: 1.6em;
  margin-bottom: 2.392vw;
}

.card-content p {
  overflow: hidden;
}

@media (max-width: 2560px) {
  .card-content {
    font-size: 1.8em;
    line-height: 1.2;
    justify-content: start;
  }

  .card-content h1 {
    font-size: 2.6vw;
    margin-bottom: 26px;
  }

  .card1,
  .card2,
  .card3 {
    width: 500px;
    height: 804px;
  }
}

.card1 img,
.card2 img,
.card3 img {
  height: 96%;
  width: 100%;
}

.img1, .img2, .img3 {
  /* width: 31.544em;
  height: 19.102em; */
  width: 93%;
  height: 38%;
}



@media (max-width: 1521px) {
  .card-content {
    font-size: 1em;
  }

  .card-content h1 {
    font-size: 2.6vw;
  }

  .card1,
  .card2,
  .card3 {
    width: 421px;
    height: 722px;
  }
}

@media (max-width: 1079px) {
  .card-content {
    font-size: 1em;
  }

  .card-content h1 {
    font-size: 2.6vw;
  }

  .card1,
  .card2,
  .card3 {
    width: 27.711vw;
    height: 51.344vw;
  }
}

@media (max-width: 956px) {
  .card-content {
    font-size: 1em;
  }

  .card-content h1 {
    font-size: 2.6vw;
  }

  .card1,
  .card2,
  .card3 {
    width: 300px;
    height: 504px;
  }
}

@media (max-width: 916px) {
  .card-content {
    font-size: 1em;
  }

  .card-content h1 {
    font-size: 2.6vw;
  }

  .card1,
  .card2,
  .card3 {
    width: 250px;
    height: 404px;
  }
}

@media (max-width: 768px) {
  .card-content {
    font-size: 1em;
  }
  .card-content h1 {
    font-size: 2.6vw;
  }

  .card1,
  .card2,
  .card3 {
    width: 234px;
    height: 400px;
  }
}

@media (max-width: 727px) {
  .card-content {
    font-size: 0.6em;
    padding: 7px;
  }

  .card-content h1 {
    font-size: 1.7em;
    margin-bottom: 8px;
  }

  .card1,
  .card2,
  .card3 {
    width: 171px;
    height: 197px;
  }

  .cards-parent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }

  .container {
    background-image: url("../Assets/Images/Mystic\ Moonlight\ Temple\ 🌸🌕\ 4k\ Wallpaper.jpeg");
    background-size: auto;
  }

  nav {
    padding: 1px;
  }

  .links ul {
    height: 20px;
  }
}

@media (max-width: 425px) {
  .links ul {
    display: none;
  }

  .links li {
    display: none;
  }

  .menu {
    display: block;
    height: 26px;
    width: 34px;
  }

  .card-content h1 {
    margin-bottom: 8px;
  }

  .card1, .card2, .card3 {
    width: 39.294vw;
    height: 70.824vw;
  }
}
  
@media (max-width: 375px) {
  .menu {
    height: 28px;
    width: 23px;
  }
}
